@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');
@import "the-new-css-reset/css/reset.css";


:root {
  font-size: 16px;
  --text: #f1faff;
  --disabled: rgba(68, 68, 68, 0.6);
  --background: #071722;
  --primary: #7be170;
  --secondary: #251818;
  --accent: #c62f2f;

  --gradient: linear-gradient(to right bottom, #9a5feb, #8e55dd, #824bcf, #7741c1, #6b37b3);
  --gradient-bg: linear-gradient(135deg, #282f41, #282f41, #272e40, #272e40, #262d3f, #252c3e, #252b3d, #242a3c, #23293b, #23293b, #22283a, #22283a);

  color: var(--text);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 4.210rem;
}

h2 {
  font-size: 3.158rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small {
  font-size: 0.750rem;
}

span {
  font-size: 1.0rem;
}

